[submodule "src/vmread"]
	path = modules/vmread
	url = https://github.com/Heep042/vmread
[submodule "src/m0dular"]
	path = modules/m0dular
	url = https://github.com/LWSS/m0dular
[submodule "evdev-mirror"]
	path = evdev-mirror
	url = https://github.com/LWSS/evdev-mirror
